.ap-controls{
  margin: $border-radius;
  text-align: center;
  width: 100%;
  .ap-navigation {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 2.5%;
    display: inline;
    .ap-togglePlay, .ap-back10, .ap-skip10 {
      @include btn();
    }
  }
  .ap-volctrl {
    display: inline;
    .ap-volume {
      @include btn();
      max-width: 5%;
      position: relative;
      float: right;
      right: 5%;
    }
  }
}