@mixin rounded ($radius: $border-radius){
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
  background-clip: padding-box;
}

@mixin btn ($border: none, $font-size: $fontsize, $color: $player-color-interface){
  display: inline-block;
  background: transparent;
  border: $border;
  min-width: 30px;

  color: $color;
  font-size: $font-size;
}